body {
  background-image: url('../img/fondoWeb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img{
  width: 500px;  /* Cambia el ancho */
  height: auto;  /* Mantiene la proporción */
}
