body{
  font-family: "Open Sans", sans-serif;
}

.lateral{
  background-color: #fbfbfb;
  width:200px;

}

.navbar a{
  color:#26508e;
  font-size: larger;
  transition: color 0.3s ease-in-out, font-size 0.1s ease-in-out;
}

.navbar a:hover{
  color:#34879e;
  font-size: x-large;
  transition: font-size 0.1s ease-in-out;
}

header h1{
  font-size: 5em;
}


/* @media (max-width:767px){
#page{
    left:0px
}

}

@media (min-width:768px){
#page{
    left:0px
}

} */

/* -------------------------------------------------------------------------- */

#pacientes .card{
  width:200px;
  height:150px;
  margin:1%
}
