body{
  font-family: "Open Sans", sans-serif;
}

.lateral{
  background-color: #fbfbfb;
  width:200px;

}

.navbar a{
  color:#26508e;
  font-size: larger;
  transition: color 0.3s ease-in-out, font-size 0.1s ease-in-out;
}

.navbar a:hover{
  color:#34879e;
  font-size: x-large;
  transition: font-size 0.1s ease-in-out;
}

header h1{
  font-size: 5em;
}

#navBarCollapsed{
  transition: transform 0.3s linear;
}

#page{
  transition: transform 0.3s linear, position 0.3s linear;
  width:100%;
  /* left:200px; */
}

.hide{
  transform: translateX(-100%);
}


/* @media (max-width:767px){
#page{
    left:0px
}

}

@media (min-width:768px){
#page{
    left:0px
}

} */

.lateral.hidden {
  transform: translateX(-100%);
}

#page.hidden{
  transform: translateX(0px);
}

#page.expanded{
  transform: translateX(-200px);
}


#menu-button{
  transition: transform 0.3s linear;
}

#menu-button.expanded{
  transform: translateY(10px);
}

#menu-button.hidden{
  transform: translateY(-10px);
}

/* -------------------------------------------------------------------------- */

#pacientes .card{
  width:200px;
  height:150px;
  margin:10px;
  margin-right: calc(1vw + 5px);

  font-size:20px;
  background-color: #fbfbfb;
  transition: background-color 0.2s ease-in-out;
  border: none;
  text-wrap-mode: wrap;
  /* color:#26508e; */
}

#pacientes .card:hover{
  cursor:pointer;
  background-color: #f7f7f7;
}

#pacientes #newPaciente{
  text-align: center;
  justify-content: center;
  font-size:100px;
  color:gray
}

.card-gradient{
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.7), rgba(0, 0, 255, 0.7));
}
