body{
  font-family: "Open Sans", sans-serif;
}


/* ------------------ DEFINICION COLORES DEDALUS ------------------ */

:root{
  --greenD: #c5e86c;
  --azul1D: #4298b5;
  --azul2D: #34879e;
  --azul3D: #26508e;
}

.lateral{
  background-color: #fbfbfb;
  width:220px;

}

.navbar a, .navbar a:focus{
  color:#26508e;
  font-size: larger;
  transition: color 0.3s ease-in-out, font-size 0.2s linear;
}

.navbar a:hover{
  color:#34879e;
  font-size: x-large;
}

#collapseRecientes ul li{
  font-size:15px;
  color:#5aa794;
  list-style-type: none;
}

#collapseRecientes ul li a{
  word-wrap: break-word;
  text-decoration: none;
  color:inherit;
  font-size: large;
}

#collapseRecientes ul li:hover{
  cursor:pointer;
  color:#38876a;
}

header h1{
  font-size: 5em;
}


header h2{
  font-size: 3em;
}

#navBarCollapsed{
  transition: transform 0.3s linear;
}

#navBarCollapsed #active{
  font-size:22px;
  font-weight: 400;
  color: var(--azul1D)
}

#navBarCollapsed #active:hover{
  font-size:25px;
}

#page{
  transition: transform 0.3s linear, width 0.3s linear;
  /* left:0; */
  /* left:200px; */
}

.hide{
  transform: translateX(-100%);
}


/* @media (max-width:767px){
#page{
    left:0px
}

}

@media (min-width:768px){
#page{
    left:0px
}

} */

.lateral.hidden {
  transform: translateX(-100%);
}

#page.hidden{
  transform: translateX(0px);
}

#page.expanded{
  transform: translateX(-200px);
}


#menu-button{
  opacity: 0;
  transition: opacity 0.3s linear;
}

#menu-button.expanded{
  opacity: 1;
}

#menu-button.hidden{
  opacity: 0;
}

/* -------------------------------------------------------------------------- */

#pacientes .card{
  min-width:220px;
  max-width:350px;
  height:170px;
  margin:10px;
  margin-right: calc(1vw + 5px);
  font-size:20px;
  background-color: #fbfbfb;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  border: none;
  text-wrap-mode: wrap;
  /* color:#26508e; */
  flex: 1 1 220px;
}

#pacientes a{
  text-decoration: none;
  color:inherit;
}

#pacientes .card:hover{
  cursor:pointer;
  background-color: #f7f7f7;
  transform: scale(1.05);
}

#pacientes #newPaciente{
  text-align: center;
  justify-content: center;
  font-size:100px;
  color:gray;
}

.card-body{
  flex-grow: 1;
  overflow:hidden;
  height:calc(170px - 55px);
  margin-bottom: 10px;
  font-size: 18px;
}

.card-body ul{
  list-style: none;
  font-size: 15px;
}



.card-text{
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
}

.card-gradient{
  flex: 0 0 220px;
  height:55px;
  flex: 0 0 220px; /* Mantiene la altura fija */

}

.card-gradient.gr1{
  background: linear-gradient(to right, #bee7a6, var(--azul1D));
}

.card-gradient.gr2{
  background: linear-gradient(to left, var(--azul1D), var(--azul3D));
}


.card-gradient.gr3{
  background: linear-gradient(to right, var(--greenD), #3b78e9);
}

.card-gradient.gr4{
  background: linear-gradient(to right, #3399dd, #c5e86c);
}

/* -------------------------------------------------------------------------- */

#navigation-buttons .btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width:40px;
  transition: opacity 0.3s linear;
}

#navigation-buttons .btn a{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/* -------------------------------------------------------------------------- */

#chat-text-area{
  bottom: 0;
  left: 0;
  margin: 10px;


}

.chat-bubble{
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 70%;
  padding: 10px 15px;
  width:auto;
  border-radius: 15px;
  margin-bottom:3%;
}


.chat-bubble p{
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom:0;
}

.fromuser{
  align-self: flex-end;
  background: linear-gradient(to left, var(--azul1D), #c9e452);
  color: white;

}

.fromassistant{
  align-self: flex-start;
  background-color: #e5e5e5;
  color: black;
}


#chat-body{
  overflow-y:scroll;
  /* transition: max-height 0.1s linear; */
}

#chat-text-area{
  max-height: 200px;

}

#campo-msg, #pacientes form input{
  width:80%;
  max-height: 150px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: hidden;
  resize: none;
  transition: height 0.2s linear, max-height 0.2s linear;
}

#pacientes form span{
  width:35%;
}

#text-bubble{
  min-height: 40px;
  /* height: 50px; */
  transition: height 0.2s linear, max-height 0.2s linear;
}

#chat-text-area button{
  transition: background-color 0.2s linear,  color 0.2s linear;
}

#button-send:hover{
  background-color: var(--azul1D);
  color:white;
}

#botonnuevopaciente{
  border: 0px;
}

#generar-resumen:hover{
  background-color: var(--greenD);
  transition: background-color 0.2s linear,  color 0.2s linear;
  border: 0px;
  /* color:white; */
}

#buscar-paciente input{
  width:40%
}

#tipo-busqueda:hover{
  cursor:pointer;
}

#search-button{
  transition: background-color 0.2s linear,  color 0.2s linear;
}
#search-button:hover{
  background-color:#bee7a6 !important;
}

#accessibility-buttons .dropdown li{
  cursor:pointer;
  display: flex;
  align-items: start;
}

.dropdown li.active{
  background-color:#34879e;
}

#fuera-de-planta:checked + #button-fuera-de-planta, .checkedPlanta{

  transition: background-color 0.2s linear, color 0.2s linear;
  background-color:#65a2b3;
  color:white;
  border: 1px solid rgba(255, 0, 0, 0)
}

#button-fuera-de-planta:hover{
  background-color: #bee7a6;
  border: 1px solid rgba(255, 0, 0, 0)
}

header span{
  font-size: 5rem;
  max-width: 500px;
}

#chat-body img{
  width:80%;
  align-self: center;
}

.carousel, .carousel-inner, .carousel-item {
  height: 100vh; /* 100% del alto de la ventana */
  width:100vw;
}

.carousel-item img {
  object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
  height: 100%;
  width: 100%;
  /* scale:calc(1.10); */
  /* object-fit: none; */
  filter: brightness(65%);
}

#presentacion{
  width:30%;
  min-width:400px;
  left:0;
  height:100%;
  background: linear-gradient(to bottom, white, #d3f7e6)
}

#button-start, #botonnuevopaciente{
  background: linear-gradient(to left, #c5e86c, #4298b5);
  background-size: 200% 200%;
  transition: background-position 0.5s ease-in-out;
  border: 0px solid rgba(255, 255, 255, 0);
}

#button-start:hover, #botonnuevopaciente:hover{
  background-position: right bottom;
  transition: background-position 0.5s ease-in-out;

}

input:focus, textarea:focus {
  outline: none; /* Evita el borde azul predeterminado */
  box-shadow: none; /* Evita efectos de sombra */
  border: inherit; /* Mantiene el borde original */
  background: inherit; /* Mantiene el fondo original */

}